body {
  background: darkgray;
}

div#header {
  color: white;
  background: darkblue;
  width: fit-content;
  height: fit-content;
  margin: auto;
  border-radius: 10px;
}

table,th,td{
  border: 1px solid black;
}

div#game{
  display: flex;
  justify-content: center;
}
div#teams{
  text-align: center;
}
.team{
  margin:0px;
}